body {
  padding-top: 0px;
  padding-bottom: 20px;
  background: url("img/tweed2X.png");
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

.container {
  max-width: 1030px;
  margin-top: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 70px;
  padding-bottom: 10px;
  color: #e5e5e5;
  border-bottom: solid 1px #313131;
  text-shadow: 1px 1px #000;
  background: #1c1c1c; /* Old browsers */
  background: -moz-linear-gradient(left, #1c1c1c 0%, #3d3d3d 33%, #3d3d3d 67%, #1c1c1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c1c1c), color-stop(33%,#3d3d3d), color-stop(67%,#3d3d3d), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1c1c1c 0%,#3d3d3d 33%,#3d3d3d 67%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1c1c1c 0%,#3d3d3d 33%,#3d3d3d 67%,#1c1c1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1c1c1c 0%,#3d3d3d 33%,#3d3d3d 67%,#1c1c1c 100%); /* IE10+ */
  background: linear-gradient(to right, #1c1c1c 0%,#3d3d3d 33%,#3d3d3d 67%,#1c1c1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 */
}

.header h1 {
  width: 1030px;
  margin: 0 auto;
  padding-bottom: 19px;
  padding-left: 10px;
  font-size: 40px;
  line-height: 1;
  /*font-weight: bolder;*/
  color: #c0c0c0;
}

.header p {
  width: 1030px;
  margin: 0 auto;
  padding-left: 10px;
  /*font-weight: bolder;*/
  color: #a4a4a4;
}

.footer {
  padding-top: 10px;
  color: #c8c8c8;
  margin-top: 20px;
  border-top: 1px solid #aeaeae;
  width: 1030px;
  text-shadow: 1px 1px #000;
}

.top-caption {
  background: #e5e5e5;
  border-top: solid 1px #828282;
  border-bottom: solid 1px #828282;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pager {
  width: 1030px;
  margin: 0 auto;
  padding-left: 20px;
}

.navigation,
.navigation.affix {
  width: 250px;
  float: left;
  border-radius: 5px;
  border: solid 1px #ccc;
  text-shadow: 1px 1px #000;
}

.navigation.affix {
  top: 60px;
}

.nav li {
  padding: 0px;
  margin-left: 1px;
}

.nav li a,
.nav li a:focus {
  color: #ccc;
  padding: 3px 3px 3px 7px;
  margin-left: 1px;
}

.nav li a:focus {
  background: #333;
}

.nav li a:hover,
.navigation li.active > a:hover {
  background: #666;
  margin-left: 1px;
}

.nav .nav  li a {
  padding-left: 15px;
}

.navigation li.active > a,
.navigation li.active > a:focus {
  background: #444;
  color: #fff;
  margin-left: 1px;
}

.content {
  width: 730px;
  margin-left: 300px;
  background: #f1f1f1;
  text-align: justify;
  padding: 30px 20px 30px 20px;
  box-shadow: 0px 0px 2px #000;
  text-shadow: 1px 1px #d0d0d0;
  border-radius: 5px;
  color: #444;
}

.content p {
  text-indent: 30px;
  /*line-height: 340px;*/
}

.pager li {
  text-shadow: 1px 1px 2px #ccc;
}

.pager li a {
  border-radius: 5px;
  border-color: #aaa;
  color: #101010;
  background: #ddd;
}

.pager li a:hover {
  background: #f5f5f5;
}

.pager li.current a {
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}


.affix {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  top: 0;
}

.affix-top {
  position: static;
}

.content h1 {
  margin-top: 0px;
  /*margin-left: 5px;*/
  /*padding-left: 7px;*/
  font-size: 30px;
  /*font-family: "Times New Roman";*/
  /*border-left: solid 33px #777;*/
  /*color: #777;*/
}

.content h2 {
  margin-top: 0px;
  font-size: 18px;
}

.line-through {
  text-decoration: line-through !important;
}